@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap"); /*Piazzolla*/
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap"); /*Ceviche One*/
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap"); /*Raleway Dots*/
@import url("https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap"); /*Ribeye Marrow*/
@import url("https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap"); /*Rubik Iso*/
@import url("https://fonts.googleapis.com/css2?family=Molle&display=swap"); /*Molle*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* My additional selectors are below */
/* 
  For the ransom note, I decided to select and style elements using patterns rather than adding each letter to a specific class. You will find some basic classes such as .vowel, .consonant, and .punctuation. Any further than that, I used patterned selectors for the majority of the characters. Lastly, for a select few characters, I used their default classes that were forked from the devslopes files and combined them as neccessary.
*/
.vowel,
.consonant,
.gardeningNTwoLetter {
  font-size: 64px;
}

.vowel {
  font-family: "Piazzolla", sans-serif;
  color: #44ac03;
  font-weight: 400;
  text-decoration: line-through;
  text-decoration-color: rgb(188 188 29);
}
.consonant {
  font-family: "Ceviche One", sans-serif;
  color: #bb13ac;
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  text-decoration-color: rgb(188 188 29);
}

.punctuation {
  font-family: "Raleway Dots", sans-serif;
  color: blue;
  font-size: 120px;
  font-weight: 700;
}

span:nth-child(3n + 4):not(.punctuation),
.word:nth-child(2n) span:first-child:not(.punctuation) {
  font-size: 30px;
  text-decoration: overline;
}

span:nth-child(3n + 4):not(.punctuation) {
  font-family: "Rubik Iso", sans-serif;
  color: rgb(01 63 48);
  font-weight: normal;
  text-decoration-color: greenyellow;
}

.word:nth-child(2n) span:first-child:not(.punctuation) {
  font-family: "Ribeye Marrow", sans-serif;
  color: rgb(84 36 10);
  font-weight: bold;
  text-decoration-color: hotpink;
}

.consonant:nth-child(even),
.word:nth-child(2n + 1) span:first-child:not(.punctuation) {
  font-family: "Molle", cursive;
  font-size: 50px;
  text-decoration: underline;
  text-transform: capitalize;
}

.consonant:nth-child(even) {
  color: teal;
  text-decoration-style: double;
  text-decoration-color: tan;
}

.word:nth-child(2n + 1) span:first-child:not(.punctuation) {
  color: rgb(124, 131, 129);
  text-decoration-color: slategray;
}
/* My additional selectors are above */
/* Orginal classes are below */

.gardeningNTwoLetter {
  font-family: 'Molle', cursive;
  color: #123456;
  text-transform: lowercase;
  text-shadow: 15px -15px 3px #654321;
}

.takeKLetter,
.becauseCLetter,
.wantedNLetter,
.theirRLetter {
  color: yellowgreen;
  text-shadow: 8px 8px 5px blueviolet;
}

.takeKLetter {
  font-size: 116px;
  text-decoration: overline dashed;
}

.becauseCLetter {
  font-size: 132px;
  text-decoration: underline dotted;
}

.wantedNLetter {
  font-size: 148px;
  text-decoration: line-through double;
  text-decoration-thickness: 4px;
  text-decoration-color: blueviolet;

}

.theirRLetter {
  font-size: 164px;
  text-decoration: none;
}